@import '../../app/globals.scss';

#intro-home {
    background-image: url("../../assets/image/IntroBanner.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;

    div.card .single-line {
        @include LimitLine($lines: 1)
    }

    @media screen and (width <=767px) {
        background-image: none;
    }
}

#carousel-home {
    .swiper {
        height: 100% !important;
    }

    .swiper-button-disabled {
        background: rgba($color: $secondary-black, $alpha: .4) !important;
        border-color: transparent !important;
    }
}