@import '../../app/globals.scss';

#card {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;

    &:hover {
        transform: perspective(800px) rotateY(10deg) translateY(20px);
    }

    .bg-sub {
        background: rgba(249, 249, 249, .3);
        backdrop-filter: blur(5px)
    }

    .card-button:hover {
        background-color: rgb(24, 67, 176)
    }
}