@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #eff0f4;
  --primary-black: #333;
  --primary-blue: #1a5aff;
  --primary-grey: #bfc2c4;
}

body {
  box-sizing: border-box;
}