@tailwind base;
@tailwind components;
@tailwind utilities;

$secondary-black: #666;

:root {
  // colors
  --primary-bg: #fafafa;
  --primary-black: #333;
  --secondary-black: #{$secondary-black};
  --primary-blue: #2377fc;
  --secondary-blue: rgb(24, 67, 176);
  --primary-grey: #bfc2c4;
  --primary-border: #e4e4e4;
  --pure-black: #000;

  // for box shadow
  --primary-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  // for width
  --w-7xl: 80rem;
}

* {
  // for remove on click highlight color
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  word-wrap: break-word !important;
}

a {
  text-decoration: none !important;
}

input,
textarea,
a,
button {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

// for limiting lines
@mixin LimitLine($lines: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  /* number of lines to show */
  line-clamp: $lines;
  -webkit-box-orient: vertical;
}

// for limiting line break to one
.single-line {
  @include LimitLine($lines: 1)
}